<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../assets/img/logo.png" alt="" width="50" height="50">
        Tienda Tortuguita!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tienda">Adopciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="producto">Poner en adopcion</a>
                </li>
                <i class="fa fa-shopping-cart" style="font-size:48px;color:red"></i>
                <li class="nav-item">
                    <a class="nav-link"  href="login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="registro">Registro</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Buscar producto">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </div>
  
  </nav>
  <div class="container"> 

    
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
<footer>
    <div class="container-fluid">
        <div class="row" style="padding-top: 5%;">
            <hr>
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <h1 style="font-size: 20px;  padding-bottom: 1%"><b>Contacto</b></h1>
                <p><b>Numero: +5679877654321</b> </p>
                <p><b>Correo: Tiendatortuguita@mascotas.com</b> </p>

            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">

                <h1 style="font-size: 20px;  padding-bottom: 1%"><b>Horarios de atencion</b></h1>
                <p><b>Lunes a Viernes: 09:00 - 17:30 hrs</b> </p>

            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <img style="width: 100px" src="/assets/img/tortuga.png">
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <p style="font-size: 20px;"><b>Siguenos en nuestras redes</b></p>
                <a href="" title="Image from freepnglogos.com"><img
                        src="https://www.freepnglogos.com/uploads/whatsapp-png-logo-7.png" width="200"
                        alt="whatsapp png logo" style="width: 19%;" /></a>
                <a href="https://www.facebook.com" title="Image from freepnglogos.com"><img
                        src="https://www.freepnglogos.com/uploads/facebook-logo-27.png" width="200"
                        alt="facebook icon blue" style="width: 10%;" /></a>
                <a href="https://www.instagram.com/" title="Image from freepnglogos.com"><img
                        src="https://www.freepnglogos.com/uploads/download-instagram-png-logo-20.png" width="200"
                        alt="Download instagram png logo" style="width: 13%; padding-left: 12px;" /></a>

            </div>

        </div>

    </div>
</footer>
</body>