


<body>
    <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/img/PerritoCuidado.jpg" class="d-block w-100" alt="Perrito con dueños">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Recuerda sacarlos a pasear</h5>
                    <p>Los perritos se ponen muy tristes cuando no salen de paseo, mas aun si vives en un departamento, recuerda sacarlos a pasear y no olvides la bolsita para su popo.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/img/banner.jpg" class="d-block w-100" alt="Tortuga en el pasto">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Nos encantan las tortugas</h5>
                    <p>Envianos fotos de tortugas y participa por el sorteo de un año gratis de alimento de tortuga feliz.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/img/perritoPensando.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>¿No encuentras lo que buscas?</h5>
                    <p>Recuerda que siempre puedes enviarnos un correo a nuestra información de contacto para sugerir nuevos productos que quieras adquirir en la tienda.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
    <div class="container">
        <div class="content">
            
            <h3><b>Cat</b>álogo de adopción</h3>
            <p>En nuestra tienda contamos con una gran diversidad de mascotas exoticas y tradicionales, las cuales tienen el mejor cuidado y esperan por tener un nuevo hogar.</p>
            
                
               

  
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Mi carrito</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        
                        <div *ngFor="let mascotita of carritoList; index as i">
                            {{mascotita}} ...............Costo de adopcion {{carritoPreciosList[i]}}
                            
                        </div>
                        
                        Costo de adopción total: {{total}} <br>
                        <app-envio></app-envio>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button disabled type="button" class="btn btn-primary">Iniciar proceso de adopción</button>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="align-right">

                <button (click)="revisarCarrito()" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" class="btn btn-success  position-relative">
                    Revisar Carrito 
                    <span id="carritoValue" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{agregado}}
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    <i class="bi bi-basket"></i>
                
                </button>
            </div>
            <input class="form-control" type="text" [(ngModel)]="binding">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 g-4">
                <br>
                <div class="col" *ngFor="let animalito of animalitosList | filter : binding">
                    <br><br>
                    <div class="card h-100">
                        <img [src]="animalito.imagen" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{animalito.especie}}</h5>
                            <p class="card-text">
                                {{animalito.descripcion}}
                            </p>
                            </div>
                        <div class="card-footer">
                            <b>Valor: ${{animalito.precio}}</b><br>
                            <button (click)="agregarMascota(animalito.especie)" type="button" class="btn btn-success">Lo quiero llevar!</button>
                        </div>
                    </div>
                </div>

            </div>



        </div>






    </div>
  
    <!-- Scrips 
    <script src="tienda.js"></script> -->
</body>