


<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Registrar</h2>


                <div class="card-body">
                    <form  [formGroup]="formContacto" (ngSubmit)="submit()">

                        <div class="input-group form-group">
                            
                            <input type="text" formControlName="nombre" class="form-control" placeholder="Ingrese Nombre de usuario">
                        </div>
                        
                        <span *ngIf="this.formContacto.controls['nombre'].errors?.['required']">
                            Nombre no válido
                        </span>
                        <span *ngIf="this.formContacto.controls['nombre'].errors?.['minlength']">
                            Nombre  debe tener al menos 5 caracteres
                        </span>
                        <br>

                        <div class="input-group form-group">
                           
                            <input type="email" formControlName="email" class="form-control" placeholder="Ingrese Email">
                        </div>
                        <br>
                        <span *ngIf="this.formContacto.controls['email'].errors?.['email']">
                            Email no válido
                        </span>


                        <div class="input-group form-group">
                            
                            <input type="password" formControlName="password" class="form-control" placeholder="Password" required>
                        </div>
                       
                        <span *ngIf="this.formContacto.controls['password'].errors?.['required']">
                            Debe incuir password
                        </span>
                        <span *ngIf="this.formContacto.controls['password'].errors?.['minlength']">
                            Password debe tener al menos 6 caracteres
                        </span>
                        <br>
                        <br>
                        <div class="input-group form-group">
                        
                            <input type="password" formControlName="password2" class="form-control" placeholder="Confirme Password" required>
                        </div>
                        
                        <span *ngIf="this.formContacto.controls['password2'].errors?.['required']">
                            Debe incuir password
                        </span>
                        <span *ngIf="this.formContacto.controls['password2'].errors?.['minlength']">
                            Confirmacion debe tener al menos 6 caracteres
                        </span>
                        <br>
                        <br>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Recordar usuario
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </form>
                </div>


            </div>
            <div class="signup-image">
                <figure><img src="../../assets/img/registro-imagen.png" style="height: 400px; width: 450px;" alt="sing up image"></figure>
                
            </div>
        </div>
    </div>
</section>

