


<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Registrar</h2>


                <form class="row g-6 needs-validation" novalidate method="post" oninput='up2.setCustomValidaty(up2.value != ip.value ? "La contraseña no es igual." : "")'>
                    <div class="col-md-12">                      
                      <input type="name" class="form-control form-control-sm" id="validationCustom01" placeholder="Tu Nombre" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div><br>
                    </div><br>
                    <br>

                    <div >                        
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo" required>
                        <div id="emailHelp" class="form-text">Debe ingresar un correo valido.</div><br>
                    </div>

                    <div class="col-mb-6">
                        <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Contraseña" minlength="8" maxlength="20">
                        <div id="passwordHelpBlock" class="form-control-sm3" name="up">
                            Tu contraseña debe ser entre 8-20 caracteres.                        
                        </div>
                    </div>
                    
                    <div class="col-mb-6">
                        <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Contraseña">
                            <div id="passwordHelpBlock" class="form-text" name="up2">
                                Repite tu contraseña.                        
                            </div>
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary" type="submit" [routerLink]="['/home']" routerLinkActive="router-link-active" target="_blank">Registrar</button>                      
                    </div>
                  
                </form>

<!--                     
                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>                        
                        <div class="invalid-feedback">
                          You must agree before submitting.
                        </div>
                      </div>
                    </div> -->


                   
                <!--<form>
                    <div class="col-mb-6">                        
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div> -->

                       

<!--                    
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </form> -->

                <!-- <form method="POST" class="register-form" id="register-form">
                    <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="name" id="username" placeholder="Tu nombre" maxlength="15"/>
                        <span class="span2">Solo puede contener letras de la 'a' a la 'z' en minusculas</span>
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-email"></i></label>
                        <input type="email" name="email" id="email" placeholder="Tu correo"/>
                        <span class="span2">Debe ser una direccion de email valida</span>
                    </div>
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="pass" id="pass" maxlength="16" placeholder="Contraseña" minlength="8"/>
                        <span class="span2">Debe contener una mayuscula, minusculas y un numero</span>
                    </div>
                    <div class="form-group">
                        <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input type="password" name="re_pass" id="re_pass" maxlength="16" placeholder="Repite tu contraseña"/>
                        <span class="span2">Debe contener una mayuscula, minusculas y un numero</span>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>Estoy de acuerdo con las declaraciones de  <a href="#" class="term-service">Terminos de Servicios</a></label>
                    </div>
                    <div class="form-group form-button"> -->
                        <!-- <form action="home.html">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Registrar"/>
                        </form> -->

                        <!-- <a href="home.html">
                            <input type="button" name="signup" id="signup" class="form-submit" value="Registrar"/>                                
                        </a>
                        
                    </div>
                </form> -->
            </div>
            <div class="signup-image">
                <figure><img src="../../assets/img/registro-imagen.png" style="height: 400px; width: 450px;" alt="sing up image"></figure>
                
            </div>
        </div>
    </div>
</section>

